<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/vaadin-grid/vaadin-grid.html">

<dom-module id="my-view1">
    <template>
        <style include="shared-styles">
            :host {
                display: block;

                padding: 10px;
            }
        </style>

        <iron-ajax
                id="searchAjax"
                method="GET"
                headers='{"Accept": "application/abas.objects+json", "X-abas-mw-edp-log-level": "INFO"}'
                on-response="_onSuccess"
                on-error="_onError"
        ></iron-ajax>
        <iron-ajax
                id="createAjax"
                method="POST"
                headers='{"Accept": "application/abas.objects+json", "X-abas-mw-edp-log-level": "INFO"}'
                on-response="_onSuccessNew"
                on-error="_onError"
        ></iron-ajax>

    <h2>Example 1: Search Customer</h2>
    <paper-input label="Head fields" id="head"></paper-input>
    <paper-input label="Table fields" id="table"></paper-input>
    <paper-input label="FTS" id="searchItem">
        <paper-icon-button suffix on-tap="doSearch" icon="icons:search"></paper-icon-button>
    </paper-input>

    <vaadin-grid id="grid">
        <table></table>
    </vaadin-grid>
    <br>

    <h2>Example 2: New Customer Contact</h2>
    <paper-input label="Customer" id="customer"></paper-input>
    <paper-input label="such" id="such"></paper-input>
    <paper-input label="Telefon" id="tel"></paper-input>
    <paper-button raised on-tap="doCreate">NEW</paper-button>
    </template>

    <script>
        Polymer({
            is: 'my-view1',
            doSearch: function () {
                var params = [];
                var headValue = this.$.head.value.trim();
                var tableValue = this.$.table.value.trim();
                var searchValue = this.$.searchItem.value.trim();

                if(headValue != ""){
                    params.push("headFields=" + headValue);
                }
                if(tableValue != ""){
                    params.push("tableFields=" + tableValue);
                }
                if(searchValue != ""){
                    params.push("query=" + searchValue + "*");
                    var url = "http://localhost/mw/r/og17/obj/data/0:1/search?" + params.join("&");
                    console.log("URL: " + url);
                    this.$.searchAjax.url = url;
                    this.$.searchAjax.generateRequest();
                }
            },
            _onSuccess: function (event) {
                console.log("_onSuccess");
                console.log(event);
                var items = [];
                var columns=[];
                var response = event.detail.response;
                var objs = response.content.data.erpDataObjects;
                if(objs){
                    objs.forEach(function (obj) {
                        var item = {};
                        var fields = obj.head.fields;
                        Object.keys(fields).forEach(function (key) {
                            var val = fields[key].text ? fields[key].text : fields[key].value;
                            val = val ? val : "";
                            item[key] = val;
                        });
                        items.push(item);
                    });

                    if(items.length>0){
                        var item=items[0];
                        Object.keys(item).forEach(function(key){
                            var column={name:key};
                            columns.push(column);
                        });
                    }
                }else{
                    columns.push({name:'No Result'});
                }
                this.$.grid.columns=columns;
                this.$.grid.items = items;
            },
            doCreate: function () {
                var customer = this.$.customer.value.trim();
                var such = this.$.such.value.trim();
                var tel = this.$.tel.value.trim();
                var body={"head":{"such":such,"firma":customer,"tele":tel}};

                var url = "http://localhost/mw/r/og17/obj/data/0:2";
                this.$.createAjax.url = url;
                this.$.createAjax.body = JSON.stringify(body);
                this.$.createAjax.contentType = "application/abas.objects.simple+json";
                this.$.createAjax.generateRequest();
            }
        });
    </script>
</dom-module>













